# Node.js
node_modules/
.env
*.log

# WhatsApp session
sessions/
.session/

# Dados temporários ou sensíveis
data/.keep
exportados/
assets/catalogo.pdf
assets/catalogo.jpg
contatos.json
contatos.xlsx
mensagens.json
# VS Code configs
.vscode/
.DS_Store
dist/
exportados/
*.xlsx
*.png
.wwebjs_cache/
